extends layout

block afterFacets
  for hit in hits
    p title: !{hit.highlights.title}
    p genres: #{hit.fields.genres}
    p release: #{hit.fields.release_date}
    p actors: #{hit.fields.actors}
    p directors: #{hit.fields.directors}
    p plot: !{hit.highlights.plot}
    p rating: #{hit.fields.rating}
    span -----------------------------------------------------------------
  - var stripStart = urlPrefix.replace(/&start=\d+/g, "");
  unless previousPageStart < 0
    p
      a(href="#{stripStart}start=#{previousPageStart}") Previous Page
  unless nextPageStart > total
    p
      a(href="#{stripStart}start=#{nextPageStart}") Next Page