extends layout

block content
  p total results: #{total}
  span -----------------------------------------------------------------
  for hit in hits
    p title: !{hit.highlights.title}
    p genres: #{hit.fields.genres}
    p release: #{hit.fields.release_date}
    p actors: #{hit.fields.actors}
    p directors: #{hit.fields.directors}
    p plot: !{hit.highlights.plot}
    p rating: #{hit.fields.rating}
    span -----------------------------------------------------------------
  p GENRES
  for facet in facets.genres.buckets
    p
      a(href="#{currentUrl}&filter=genres:#{facet.value}") #{facet.value}: #{facet.count}
  span -----------------------------------------------------------------
  p RATING
  for facet in facets.rating.buckets
    p
      a(href="#{currentUrl}&filter=rating:#{facet.value}") #{facet.value}: #{facet.count}
  span -----------------------------------------------------------------
  p YEAR
  for facet in facets.year.buckets
    p
      a(href="#{currentUrl}&filter=year:#{facet.value}") #{facet.value}: #{facet.count}
  span -----------------------------------------------------------------