extends layout

block afterFacets
  for hit in hits
    p title: !{hit.highlights.title}
    p genres: #{hit.fields.genres}
    p release: #{hit.fields.release_date}
    p actors: #{hit.fields.actors}
    p directors: #{hit.fields.directors}
    p plot: !{hit.highlights.plot}
    p rating: #{hit.fields.rating}
    span -----------------------------------------------------------------
  unless nextPageStart > total
    p
      a(href="#{urlPrefix}start=#{nextPageStart}") Next Page